// custom variables
$primary: #453C67;
$secondary: #7F669D;
$danger: #371B58;
$light: #F5F5F5;

//import the scss functions and variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

$custom-theme-colors:(
    "altlight": #EAEAEA,
    "altdark": #18122B
);

//merge the custom colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors );

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';